@import url(/font/notoBK/stylesheet.css);
@import url(/font/notoB/stylesheet.css);
@import url(/font/notoM/stylesheet.css);
@import url(/font/notoR/stylesheet.css);
@import url(/font/notoD/stylesheet.css);
@import url(/font/notoL/stylesheet.css);
@import url(/font/notoT/stylesheet.css);

/************************
* font
*************************/
@font-face {
  font-family: 'spoqa B';
  font-weight: 700;
  src: local("SpoqaHanSansNeo-Bold"), local("SpoqaHanSansNeo-Bold"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'spoqa M';
  font-weight: 400;
  src: local("SpoqaHanSansNeo-Medium"), local("SpoqaHanSansNeo-Medium"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff") format("woff"), url("../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'spoqa R';
  font-weight: 400;
  src: local("SpoqaHanSansNeo-Regular"), local("SpoqaHanSansNeo-Regular"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}
      
 @font-face {
  font-family: 'spoqa L';
  font-weight: 300;
  src: local("SpoqaHanSansNeo-Light"), local("SpoqaHanSansNeo-Light"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff") format("woff"), url("../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

 @font-face {
  font-family: 'spoqa T';
  font-weight: 100;
  src: local("SpoqaHanSansNeo-Thin"), local("SpoqaHanSansNeo-Thin"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2") format("woff2"), url("/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff") format("woff"), url("../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}

  /* 220502 gmarketfont */
  @font-face {
  font-family: 'gmarket L';
  font-weight: 100;
  src: local("Gmarket Sans Light"), local("GmarketSans-Light"), url("/font/GmarketSans/GmarketSansLight.woff2") format("woff2"), url("/font/GmarketSans/GmarketSansLight.woff") format("woff"), url("../font/GmarketSans/GmarketSansLight.ttf") format("truetype");
}

  @font-face {
  font-family: 'gmarket M';
  font-weight: 400;
  src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"), url("/font/GmarketSans/GmarketSansMedium.woff2") format("woff2"), url("/font/GmarketSans/GmarketSansMedium.woff") format("woff"), url("../font/GmarketSans/GmarketSansMedium.ttf") format("truetype");
}

  @font-face {
  font-family: 'gmarket B';
  font-weight: 700;
  src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"), url("/font/GmarketSans/GmarketSansBold.woff2") format("woff2"), url("/font/GmarketSans/GmarketSansBold.woff") format("woff"), url("../font/GmarketSans/GmarketSansBold.ttf") format("truetype");
}

/* °øÅë»ö»ó */
:root {
    --co00:#000000;
    --co1A:#1a1a1a;
    --co3A:#3a3a3a;
    --co6C:#6c6c6c;
    --co94:#949494;
    --coD8:#d8d8d8;
    --coE8:#e8e8e8;
    --coF2:#f2f2f2;
    --coF9:#f9f9f9;
    --coFF:#ffffff;
    --coF3:#F3FAFF;
    --coF1:#F14738;
    --co0D:#0D6DE3; 
    --co1C:#1C8FED; 
    --co13:#135eba; 
    --co84:#8433FF; 
    --co7A:#7a45c6; 
    --co1F:#1FAD1F; 
} 
/* °øÅë ÆùÆ®»ö */
.co1A { color:var(--co1A)!important; } 
.co3A { color:var(--co3A)!important; } 
.co6C { color:var(--co6C)!important; } 
.co94 { color:var(--co94)!important; } 
.coFF { color:var(--coFF)!important; } 
.coF2 { color:var(--coF2)!important; } 
.coF9 { color:var(--coF9)!important; } 
.coD8 { color:var(--coD8)!important; } 
.coF1 { color:var(--coF1)!important; } 
.co0D { color:var(--co0D)!important; } 
.co1C { color:var(--co1C)!important; } 
.co13 { color:var(--co13)!important; } 
.cogra { background: linear-gradient(270deg, var(--co1C) 0%, var(--co84) 100%); -webkit-background-clip: text; color: transparent!important; } 
              
/* font */
.B {font-size:12px; font-weight: bold; }
.B a{font-size:12px; font-weight: bold; }
.padding0 {background:URL('//image5.compuzone.co.kr/img/coz2009/hdot_Lgray.gif'); padding:0px}

.red11 {font-size:11px; color:#f14738;}
.red11 a{font-size:11px; color:#f14738;}
.red11B {font-size:11px; font-weight: bold; color:#f14738;}
.red11B a{font-size:11px; font-weight: bold; color:#f14738;}
.red12 {font-size:12px; color:#f14738; }
.red12 a{font-size:12px; color:#f14738;}
.red12B {font-size:12px; font-weight: bold; color:#f14738;}
.red12B a{font-size:12px; font-weight: bold; color:#f14738;}
.red13 {font-size:13px; color:#f14738; }
.red13 a{font-size:13px; color:#f14738;}
.red13B {font-size:13px; font-weight: bold; color:#f14738;}
.red13B a{font-size:13px; font-weight: bold; color:#f14738;}
.red14 {font-size:14px; color:#f14738; }
.red14 a{font-size:14px; color:#f14738;}
.red14B {font-size:14px; font-weight: bold; color:#f14738;  letter-spacing:-1px; }
.red14B a{font-size:14px; font-weight: bold; color:#f14738;}
.red16 {font-size:16px; color:#f14738; }
.red16 a{font-size:16px; color:#f14738;}
.red16B {font-size:16px; font-weight: bold; color:#f14738;  letter-spacing:-1px; }
.red16B a{font-size:16px; font-weight: bold; color:#f14738;}
.red18 {font-size:18px; color:#f14738; }
.red18 a{font-size:18px; color:#f14738;}
.red18B {font-size:18px; font-weight: bold; color:#f14738;}
.red18B a{font-size:18px; font-weight: bold; color:#f14738;}
.red20B {font-size:20px; color:#f14738; font-weight:bold;}

.blue11 {font-size:11px; color:#1C8FED;}
.blue11 a{font-size:11px; color:#1C8FED;}
.blue11B {font-size:11px; font-weight: bold; color:#1C8FED;}
.blue11B a{font-size:11px; font-weight: bold; color:#1C8FED;}
.blue12 {font-size:12px; color:#1C8FED;}
.blue12 a{font-size:12px; color:#1C8FED;}
.blue12B {font-size:12px; font-weight: bold; color:#1C8FED;}
.blue12B a{font-size:12px; font-weight: bold; color:#1C8FED;}
.blue13 {font-size:13px; color:#1C8FED;}
.blue13 a{font-size:13px; color:#1C8FED;}
.blue13B {font-size:13px; font-weight: bold; color:#1C8FED;}
.blue13B a{font-size:13px; font-weight: bold; color:#1C8FED;}
.blue14 {font-size:14px; color:#1C8FED;}
.blue14 a{font-size:14px; color:#1C8FED;}
.blue14B {font-size:14px; font-weight: bold; color:#1C8FED;}
.blue14B a{font-size:14px; font-weight: bold; color:#1C8FED;}
.blue15 {font-size:15px; color:#1C8FED;}
.blue15 a{font-size:15px; color:#1C8FED;}
.blue15B {font-size:15px; font-weight: bold; color:#1C8FED;}
.blue15B a{font-size:15px; font-weight: bold; color:#1C8FED;}
.blue16 {font-size:16px; color:#1C8FED;}
.blue16 a{font-size:16px; color:#1C8FED;}
.blue16B {font-size:16px; font-weight: bold; color:#1C8FED;}
.blue16B a{font-size:16px; font-weight: bold; color:#1C8FED;}

.orange11 {font-size:11px; color:#ff7e00;}
.orange11 a{font-size:11px; color:#ff7e00;}
.orange11B {font-size:11px; font-weight: bold; color:#ff7e00;}
.orange11B a{font-size:11px; font-weight: bold; color:#ff7e00;}
.orange12 {font-size:12px; color:#ff7e00; }
.orange12 a{font-size:12px; color:#ff7e00;}
.orange12B {font-size:12px; font-weight: bold; color:#ff7e00;}
.orange12B a{font-size:12px; font-weight: bold; color:#ff7e00;}
.orange13 {font-size:13px; color:#ff7e00;}
.orange13 a{font-size:13px; color:#ff7e00;}
.orange13B {font-size:13px; font-weight: bold; color:#ff7e00;}
.orange13B a{font-size:13px; font-weight: bold; color:#ff7e00;}
.orange14 {font-size:14px; color:#ff7e00;}
.orange14 a{font-size:14px; color:#ff7e00;}
.orange14B {font-size:14px; font-weight: bold; color:#ff7e00;}
.orange14B a{font-size:14px; font-weight: bold; color:#ff7e00;}
.orange16 {font-size:16px; color:#ff7e00;}
.orange16 a{font-size:16px; color:#ff7e00;}
.orange16B {font-size:16px; font-weight: bold; color:#ff7e00;}
.orange16B a{font-size:16px; font-weight: bold; color:#ff7e00;}
.orange24B {font-size:24px; color:#ff7e00; font-weight:bold;}
.orange20B {font-size:20px; color:#ff4800; font-weight:bold;}

.navy11 {font-size:11px; color:#0088ba;}
.navy11 a{font-size:11px; color:#0088ba;}
.navy11B {font-size:11px; font-weight: bold; color:#0088ba;}
.navy11B a{font-size:11px; font-weight: bold; color:#0088ba;}
.navy12 {font-size:12px; color:#0088ba; }
.navy12 a{font-size:12px; color:#0088ba;}
.navy12B {font-size:12px; font-weight: bold; color:#0088ba;}
.navy12B a{font-size:12px; font-weight: bold; color:#0088ba;}
.navy13 {font-size:13px; color:#0088ba;}
.navy13 a{font-size:13px; color:#0088ba;}
.navy13B {font-size:13px; font-weight: bold; color:#0088ba;}
.navy13B a{font-size:13px; font-weight: bold; color:#0088ba;}
.navy14 {font-size:14px; color:#0088ba;}
.navy14 a{font-size:14px; color:#0088ba;}
.navy14B {font-size:14px; font-weight: bold; color:#0088ba;}
.navy14B a{font-size:14px; font-weight: bold; color:#0088ba;}

.Zblack11 {font-size:11px; color:#1a1a1a;}
.Zblack11 a{font-size:11px; color:#1a1a1a;}
.Zblack11B {font-size:11px; font-weight: bold; color:#1a1a1a;}
.Zblack11B a{font-size:11px; font-weight: bold; color:#1a1a1a;}
.Zblack12 {font-size:12px; color:#1a1a1a;}
.Zblack12 a{font-size:12px; color:#1a1a1a;}
.Zblack12B {font-size:12px; font-weight: bold; color:#1a1a1a;}
.Zblack12B a{font-size:12px; font-weight: bold; color:#1a1a1a;}
.Zblack13 {font-size:13px; color:#1a1a1a;}
.Zblack13 a{font-size:13px; color:#1a1a1a;}
.Zblack13B {font-size:13px; font-weight: bold; color:#1a1a1a;}
.Zblack13B a{font-size:13px; font-weight: bold; color:#1a1a1a;}
.Zblack14 {font-size:14px; color:#1a1a1a;}
.Zblack14 a{font-size:14px; color:#1a1a1a;}
.Zblack14B {font-size:14px; font-weight: bold; color:#1a1a1a;}
.Zblack14B a{font-size:14px; font-weight: bold; color:#1a1a1a;}

.black11 {font-size:11px; color:#323232;}
.black11 a{font-size:11px; color:#323232;}
.black11B {font-size:11px; font-weight: bold; color:#323232;}
.black11B a{font-size:11px; font-weight: bold; color:#323232;}
.black12 {font-size:12px; color:#323232;}
.black12 a{font-size:12px; color:#323232;}
.black12B {font-size:12px; font-weight: bold; color:#323232;}
.black12B a{font-size:12px; font-weight: bold; color:#323232;}
.black13 {font-size:13px; color:#323232;}
.black13 a{font-size:13px; color:#323232;}
.black13B {font-size:13px; font-weight: bold; color:#323232;}
.black13B a{font-size:13px; font-weight: bold; color:#323232;}
.black14 {font-size:14px; color:#323232;}
.black14 a{font-size:14px; color:#323232;}
.black14B {font-size:14px; font-weight: bold; color:#323232;}
.black14B a{font-size:14px; font-weight: bold; color:#323232;}
.black16 {font-size:16px; color:#323232;}
.black16 a{font-size:16px; color:#323232;}
.black16B {font-size:16px; font-weight: bold; color:#323232;}
.black16B a{font-size:16px; font-weight: bold; color:#323232;}
.black20 {font-size:20px; color:#323232;}
.black20 a{font-size:20px; color:#323232;}
.black20B {font-size:20px; font-weight: bold; color:#323232;}
.black20B a{font-size:20px; font-weight: bold; color:#323232;}

.white11 {font-size:11px; color:#fff;}
.white11 a{font-size:11px; color:#fff;}
.white11B {font-size:11px; font-weight: bold; color:#fff;}
.white11B a{font-size:11px; font-weight: bold; color:#fff;}
.white12 {font-size:12px; color:#fff;}
.white12 a{font-size:12px; color:#fff;}
.white12B {font-size:12px; font-weight: bold; color:#fff;}
.white12B_bg {font-size:12px; font-weight: bold; color:#fff;  background:#00aebd; padding:2px 2px 0px 2px;}
.white12B a{font-size:12px; font-weight: bold; color:#fff;}
.white13 {font-size:13px; color:#fff;}
.white13 a{font-size:13px; color:#fff;}
.white13B {font-size:13px; font-weight: bold; color:#fff;}
.white13B a{font-size:13px; font-weight: bold; color:#fff;}
.white14 {font-size:14px; color:#fff;}
.white14 a{font-size:14px; color:#fff;}
.white14B {font-size:14px; font-weight: bold; color:#fff;}
.white14B a{font-size:14px; font-weight: bold; color:#fff;}
.white16 {font-size:16px; color:#fff;}
.white16 a{font-size:16px; color:#fff;}
.white16B {font-size:16px; font-weight: bold; color:#fff;}
.white16B a{font-size:16px; font-weight: bold; color:#fff;}
.white18 {font-size:18px; color:#fff;}
.white18 a{font-size:18px; color:#fff;}
.white18B {font-size:18px; font-weight: bold; color:#fff;}
.white18B a{font-size:18px; font-weight: bold; color:#fff;}
.white20 {font-size:20px; color:#fff;}
.white20 a{font-size:20px; color:#fff;}
.white20B {font-size:20px; font-weight: bold; color:#fff;}
.white20B a{font-size:20px; font-weight: bold; color:#fff;}

.fblack11 {font-size:11px; color:#3a3a3a;}
.fblack11 a{font-size:11px; color:#3a3a3a;}
.fblack11B {font-size:11px; font-weight: bold; color:#3a3a3a;}
.fblack11B a{font-size:11px; font-weight: bold; color:#3a3a3a;}
.fblack12 {font-size:12px; color:#3a3a3a;}
.fblack12 a{font-size:12px; color:#3a3a3a;}
.fblack12B {font-size:12px; font-weight: bold; color:#3a3a3a;}
.fblack12B a{font-size:12px; font-weight: bold; color:#3a3a3a;}
.fblack13 {font-size:13px; color:#3a3a3a;}
.fblack13 a{font-size:13px; color:#3a3a3a;}
.fblack13B {font-size:13px; font-weight: bold; color:#3a3a3a;}
.fblack13B a{font-size:13px; font-weight: bold; color:#3a3a3a;}
.fblack14 {font-size:14px; color:#3a3a3a;}
.fblack14 a{font-size:14px; color:#3a3a3a;}
.fblack14B {font-size:14px; font-weight: bold; color:#3a3a3a;}
.fblack14B a{font-size:14px; font-weight: bold; color:#3a3a3a;}

.Sblack11 {font-size:11px; color:#6c6c6c;}
.Sblack11 a{font-size:11px; color:#6c6c6c;}
.Sblack11B {font-size:11px; font-weight: bold; color:#6c6c6c;}
.Sblack11B a{font-size:11px; font-weight: bold; color:#6c6c6c;}
.Sblack12 {font-size:12px; color:#6c6c6c;}
.Sblack12 a{font-size:12px; color:#6c6c6c;}
.Sblack12B {font-size:12px; font-weight: bold; color:#6c6c6c;}
.Sblack12B a{font-size:12px; font-weight: bold; color:#6c6c6c;}
.Sblack13 {font-size:13px; color:#6c6c6c;}
.Sblack13 a{font-size:13px; color:#6c6c6c;}
.Sblack13B {font-size:13px; font-weight: bold; color:#6c6c6c;}
.Sblack13B a{font-size:13px; font-weight: bold; color:#6c6c6c;}
.Sblack14 {font-size:14px; color:#6c6c6c;}
.Sblack14 a{font-size:14px; color:#6c6c6c;}
.Sblack14B {font-size:14px; font-weight: bold; color:#6c6c6c;}
.Sblack14B a{font-size:14px; font-weight: bold; color:#6c6c6c;}
.Sblack16 {font-size:16px; color:#6c6c6c;}
.Sblack16 a{font-size:16px; color:#6c6c6c;}
.Sblack16B {font-size:16px; font-weight: bold; color:#6c6c6c;}
.Sblack16B a{font-size:16px; font-weight: bold; color:#6c6c6c;}

.Eblack10 {font-size:10px; color:#949494;}
.Eblack11 {font-size:11px; color:#949494;}
.Eblack11 a{font-size:11px; color:#949494;}
.Eblack11B {font-size:11px; font-weight: bold; color:#949494;}
.Eblack11B a{font-size:11px; font-weight: bold; color:#949494;}
.Eblack12 {font-size:12px; color:#949494;}
.Eblack12 a{font-size:12px; color:#949494;}
.Eblack12B {font-size:12px; font-weight: bold; color:#949494;}
.Eblack12B a{font-size:12px; font-weight: bold; color:#949494;}
.Eblack13 {font-size:13px; color:#949494;}
.Eblack13 a{font-size:13px; color:#949494;}
.Eblack13B {font-size:13px; font-weight: bold; color:#949494;}
.Eblack13B a{font-size:13px; font-weight: bold; color:#949494;}
.Eblack14 {font-size:14px; color:#949494;}
.Eblack14 a{font-size:14px; color:#949494;}
.Eblack14B {font-size:14px; font-weight: bold; color:#949494;}
.Eblack14B a{font-size:14px; font-weight: bold; color:#949494;}

.Nblack11 {font-size:11px; color:#949494;}
.Nblack11 a{font-size:11px; color:#949494;}
.Nblack11B {font-size:11px; font-weight: bold; color:#949494;}
.Nblack11B a{font-size:11px; font-weight: bold; color:#949494;}
.Nblack12 {font-size:12px; color:#949494;}
.Nblack12 a{font-size:12px; color:#949494;}
.Nblack12B {font-size:12px; font-weight: bold; color:#949494;}
.Nblack12B a{font-size:12px; font-weight: bold; color:#949494;}
.Nblack13 {font-size:13px; color:#949494;}
.Nblack13 a{font-size:13px; color:#949494;}
.Nblack13B {font-size:13px; font-weight: bold; color:#949494;}
.Nblack13B a{font-size:13px; font-weight: bold; color:#949494;}
.Nblack14 {font-size:14px; color:#949494;}
.Nblack14 a{font-size:14px; color:#949494;}
.Nblack14B {font-size:14px; font-weight: bold; color:#949494;}
.Nblack14B a{font-size:14px; font-weight: bold; color:#949494;}
.Nblack16 {font-size:16px; color:#949494;}
.Nblack16 a{font-size:16px; color:#949494;}
.Nblack16B {font-size:16px; font-weight: bold; color:#949494;}
.Nblack16B a{font-size:16px; font-weight: bold; color:#949494;}

/* 221104 µðÀÚÀÎ °¡ÀÌµå ÆùÆ®Ãß°¡ */
.ntRB30{color:#1a1a1a; font-size:30px; font-family:noto-R;}
.ntRB24{color:#1a1a1a; font-size:24px; font-family:noto-R;}
.ntRB20{color:#1a1a1a; font-size:20px; font-family:noto-R;}
.ntRB18{color:#1a1a1a; font-size:18px; font-family:noto-R;}
.ntRB16{color:#1a1a1a; font-size:16px; font-family:noto-R;}
.ntRB15{color:#1a1a1a; font-size:15px; font-family:noto-R;}
.ntRB14{color:#1a1a1a; font-size:14px; font-family:noto-R;}
.ntRB13{color:#1a1a1a; font-size:13px; font-family:¸¼Àº°íµñ, "malgun gothic"; letter-spacing: -1px;}
.ntRB12{color:#1a1a1a; font-size:12px; font-family:¸¼Àº°íµñ, "malgun gothic"; letter-spacing: -1px;}

.ntMB30{color:#1a1a1a; font-size:30px; font-family:Noto-M;}
.ntMB28{color:#1a1a1a; font-size:28px; font-family:Noto-M;}
.ntMB26{color:#1a1a1a; font-size:26px; font-family:Noto-M;}
.ntMB24{color:#1a1a1a; font-size:24px; font-family:Noto-M;}
.ntMB20{color:#1a1a1a; font-size:20px; font-family:Noto-M;}
.ntMB18{color:#1a1a1a; font-size:18px; font-family:Noto-M;}
.ntMB16{color:#1a1a1a; font-size:16px; font-family:Noto-M;}
.ntMB15{color:#1a1a1a; font-size:15px; font-family:Noto-M;}
.ntMB14{color:#1a1a1a; font-size:14px; font-family:Noto-M;}
.ntMB13{color:#1a1a1a; font-size:13px; font-family:¸¼Àº°íµñ, "malgun gothic"; letter-spacing: -1px;}
.ntMB12{color:#1a1a1a; font-size:12px; font-family:¸¼Àº°íµñ, "malgun gothic"; letter-spacing: -1px;}

.ntBB56{color:#1a1a1a; font-size:56px; font-family:Noto-B; font-weight: normal;}
.ntBB48{color:#1a1a1a; font-size:48px; font-family:Noto-B; font-weight: normal;}
.ntBB40{color:#1a1a1a; font-size:40px; font-family:Noto-B; font-weight: normal;}
.ntBB36{color:#1a1a1a; font-size:36px; font-family:Noto-B; font-weight: normal;}
.ntBB34{color:#1a1a1a; font-size:34px; font-family:Noto-B; font-weight: normal;}
.ntBB32{color:#1a1a1a; font-size:32px; font-family:Noto-B; font-weight: normal;}
.ntBB30{color:#1a1a1a; font-size:30px; font-family:Noto-B; font-weight: normal;}
.ntBB28{color:#1a1a1a; font-size:28px; font-family:Noto-B; font-weight: normal;}
.ntBB26{color:#1a1a1a; font-size:26px; font-family:Noto-B; font-weight: normal;}
.ntBB24{color:#1a1a1a; font-size:24px; font-family:Noto-B; font-weight: normal;}
.ntBB22{color:#1a1a1a; font-size:22px; font-family:Noto-B; font-weight: normal;}
.ntBB20{color:#1a1a1a; font-size:20px; font-family:Noto-B; font-weight: normal;}
.ntBB18{color:#1a1a1a; font-size:18px; font-family:Noto-B; font-weight: normal;}
.ntBB16{color:#1a1a1a; font-size:16px; font-family:Noto-B; font-weight: normal;}
.ntBB15{color:#1a1a1a; font-size:15px; font-family:Noto-B; font-weight: normal;}
.ntBB14{color:#1a1a1a; font-size:14px; font-family:Noto-B; font-weight: normal;}
.ntBB13{color:#1a1a1a; font-size:13px; font-family:¸¼Àº°íµñ, "malgun gothic"; font-weight: bold; letter-spacing: -1px;}
.ntBB12{color:#1a1a1a; font-size:12px; font-family:¸¼Àº°íµñ, "malgun gothic"; font-weight: bold; letter-spacing: -1px;}

.spRB24{color:#1a1a1a; font-size:24px; font-family:'spoqa R';}
.spRB20{color:#1a1a1a; font-size:20px; font-family:'spoqa R';}
.spRB18{color:#1a1a1a; font-size:18px; font-family:'spoqa R';}
.spRB16{color:#1a1a1a; font-size:16px; font-family:'spoqa R';}
.spRB15{color:#1a1a1a; font-size:15px; font-family:'spoqa R';}
.spRB14{color:#1a1a1a; font-size:14px; font-family:'spoqa R';}
.spRB13{color:#1a1a1a; font-size:13px; font-family:'spoqa R';}
.spRB12{color:#1a1a1a; font-size:12px; font-family:'spoqa R';}

.spMB24{color:#1a1a1a; font-size:24px; font-family:'spoqa M';}
.spMB20{color:#1a1a1a; font-size:20px; font-family:'spoqa M';}
.spMB18{color:#1a1a1a; font-size:18px; font-family:'spoqa M';}
.spMB16{color:#1a1a1a; font-size:16px; font-family:'spoqa M';}
.spMB15{color:#1a1a1a; font-size:15px; font-family:'spoqa M';}
.spMB14{color:#1a1a1a; font-size:14px; font-family:'spoqa M';}
.spMB13{color:#1a1a1a; font-size:13px; font-family:'spoqa M';}
.spMB12{color:#1a1a1a; font-size:12px; font-family:'spoqa M';}

.spBB36{color:#1a1a1a; font-size:36px; font-family:'spoqa B';}
.spBB34{color:#1a1a1a; font-size:34px; font-family:'spoqa B';}
.spBB32{color:#1a1a1a; font-size:32px; font-family:'spoqa B';}
.spBB28{color:#1a1a1a; font-size:28px; font-family:'spoqa B';}
.spBB24{color:#1a1a1a; font-size:24px; font-family:'spoqa B';}
.spBB20{color:#1a1a1a; font-size:20px; font-family:'spoqa B';}
.spBB18{color:#1a1a1a; font-size:18px; font-family:'spoqa B';}
.spBB16{color:#1a1a1a; font-size:16px; font-family:'spoqa B';}
.spBB15{color:#1a1a1a; font-size:15px; font-family:'spoqa B';}
.spBB14{color:#1a1a1a; font-size:14px; font-family:'spoqa B';}
.spBB13{color:#1a1a1a; font-size:13px; font-family:'spoqa B';}
.spBB12{color:#1a1a1a; font-size:12px; font-family:'spoqa B';}

/* Çù·Â»çÆäÀÌÁö */
.cmmblue11 {font-size:11px; color:#5e77fb; font-family:Malgun Gothic, dotum, verdana;}
.cmmblue11B {font-size:11px; font-weight:bold; color:#5e77fb; font-family:Malgun Gothic, dotum, verdana;}
.cmmblue12 {font-size:12px; color:#5e77fb; font-family:Malgun Gothic, dotum, verdana;}
.cmmblue12B {font-size:12px; font-weight:bold; color:#5e77fb; font-family:Malgun Gothic, dotum, verdana;}
.cmmblue14B {font-size:14px; font-weight:bold; color:#5e77fb; font-family:Malgun Gothic, dotum, verdana;}
.cmmblue18B {font-size:18px; font-weight:bold; color:#5e77fb; font-family:Malgun Gothic, dotum, verdana;}
.cmmorange11B {font-size:11px; font-weight:bold; color:#f05b12; font-family:Malgun Gothic, dotum, verdana;}
.cmmorange12B {font-size:12px; font-weight:bold; color:#f05b12; font-family:Malgun Gothic, dotum, verdana;}
.cmmorange11 {font-size:11px; color:#f05b12; font-family:Malgun Gothic, dotum, verdana;}
.cmmorange12 {font-size:12px; color:#f05b12; font-family:Malgun Gothic, dotum, verdana;}
.cmmbrown12B {font-size:12px; font-weight:bold; color:#b0a08f; font-family:Malgun Gothic, dotum, verdana;}
.cmmbrown12 {font-size:12px; color:#b0a08f; font-family:Malgun Gothic, dotum, verdana;}